<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="/static/favicon.ico">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="/static/css/alert.css">
    <title>Document</title>
    
    
</head>
<body>
     <form autocomplete="off" onsubmit="return loginUser();">
    <h1>Login</h1>

     
        <input type="email" id="email" autocomplete="off"  placeholder="Email" required>
        <!-- <input type="number" id="mobile" placeholder="Number" required> -->
        
        <!-- <input type="password" id="password" placeholder="Password" required> -->
        <div class="password-box">
        <input type="password" id="password" autocomplete="new-password" placeholder="Password" required>
        <img src="/static/eye.png"
         id="eyeOpen"
         class="eye-icon "
         onclick="togglePassword()">
         <img src="/static/hidden.png"
         id="eyeClose"
         class="eye-icon"
         onclick="togglePassword()">
    </div>
        <h4>Forget password?</h4>
        <p id="error" style="color: rgb(233, 24, 24);"></p>
        
        <button type="submit">Login</button>
        
        <p>New User?  <a href="/">Signup</a>.</p>
    </form>
    <script>
        function loginUser() {
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    fetch("http://127.0.0.1:5000/login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email: email,
            password: password
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.message) {
            // alert(data.message);
            showAlert(data.message, "success");
         setTimeout(() => {
                window.location.href = "/dashboard";
            }, 1000);

            
            
        } else {
            // document.getElementById("error").innerText = data.error;
            showAlert(data.error, "error");

        }
    })
    .catch(() => {
        // document.getElementById("error").innerText = "Server error";
                showAlert("Server error", "error");

    });

    return false; // prevent page reload
}
function togglePassword() {
    const passwordInput = document.getElementById("password");

    const eyeOpen = document.getElementById("eyeOpen");
    const eyeClose = document.getElementById("eyeClose");

    if (password.type === "password") {
        password.type = "text";
        eyeOpen.classList.remove("hidden");
        eyeClose.classList.add("hidden");
    } else {
        password.type = "password";
        
        eyeOpen.classList.add("hidden");
        eyeClose.classList.remove("hidden");
    }
}
    </script>
    <div id="customAlert" class="alert-box hidden">
    <span id="alertMessage"></span>
</div>
<script src="/static/js/alert.js"></script>

</body>
</html>